@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Farias Solutions<br />
    Osasco, 06020-190<br />
    <abbr title="Phone">P:</abbr>
    +55 11 96079-4027
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">contato@aderbalfarias.com</a><br />
</address>
