@model IEnumerable<AboutNetCore.Version1_0.DefaultTemplate.ViewModels.Test.TestViewModel>
@{
    ViewData["Title"] = "Test View";
}

<h2>@ViewData["Title"].</h2>

<environment names="Development">
    Development
</environment>


<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><a asp-controller="Test" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
        </tr>
    }
</table>