@{
    ViewData["Title"] = "About";
}

<div>
    <p>
        I am Senior .NET Full Stack Developer with a BSc in IT Information Systems, I have used .NET platform with C#, ASP.NET MVC, Linq C#, Entity Framework, Dapper, HTML, CSS, JavaScript, JQuery, Bootstrap, SQL Server, MySQL, architectures DDD and N-Tier.
    </p>
</div>