@{
    ViewData["Title"] = "Contact";
}

<h2>Contact me</h2>

<div class="row">
    <div class="col-md-4">
        <h1 class="title-contact">Contact me</h1>
        <p class="text-justify">
            I'm available for freelance. The best way I know for success is to invest in our ideas, I hope your contact, the next project can be yours!
        </p>


        @*<ul class="socials">
            <li>
                <a href="http://br.linkedin.com/pub/aderbal-farias/44/381/5b5" target="_blanck">
                    <i class="fa fa-linkedin-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/aderbal.farias.1" target="_blanck">
                    <i class="fa fa-facebook-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/aderbalfarias" target="_blanck">
                    <i class="fa fa-twitter-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/110267220515695246558/about" target="_blanck">
                    <i class="fa fa-google-plus-square fa-2x"></i>
                </a>
            </li>
        </ul>*@
    </div>
</div>