@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="title">Grade de Serviços</h1>
    </div>

    <div class="col-md-4">
        <div class="text-center">
            <i class="fa fa-code fa-4x"></i>
            <h3>Aplicações</h3>
            <p class="info">
                O desenvolvimento de aplicações web tem sido meu foco principal,
                mas também trabalho com soluções desktop, ambas construídas utilizando tecnologias atuais,
                que contribuem para o aperfeicoamento e facilitam a manutenção.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <i class="fa fa-laptop fa-4x"></i>
            <h3>Design</h3>
            <p class="info">
                Nossos projetos tem como caracteristicas o design responsivo,
                no qual a aplicação poderá ser consumida em diferentes aparelhos
                como smartphones, tabletes, notebooks e computadores.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <i class="fa fa-database fa-4x"></i>
            <h3>Banco de Dados</h3>
            <p class="info">
                As bases de dados dados utilizadas são o Sql Server ou MySQL,
                também atuamos com modelagem, normalização e mapeamento de dados
                para solucionar problemas de performace e melhorara as aplicações.
            </p>
        </div>
    </div>
</div>